* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "comfortaa";
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
  }
  
  .nav-contant a {
    text-decoration: none;
    color: #32689b;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 400;
  }
  
  .header img {
    height: 90px;
  }
  
  .middle {
    display: flex;
    margin-top: 15px;
  }
  
  .text {
    margin-left: 28px;
    /* font-family: "open sans.ttf"; */
    font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  }
  
  .text h2 {
    font-weight: 400;
  }
  
  .text p {
    margin-top: 10px;
    font-size: 15px;
  }
  
  
  .cloud-info {
    background-image: url("images/web-cloud.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  
  .cloud-info hr {
    color: white;
  }
  
  .cloud-info h3 {
    color: white;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
  }
  
  .points {
    padding-top: 20px;
    color: white;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .points ul li {
    padding-top: 25px;
    font-weight: 400;
  }
  
  
  .think {
    margin-top: 60px;
    margin-left: 90px;
    display: flex;
  }
  
  .contant-text {
    margin-left: 90px;
    margin-right: 160px;
    padding-top: 40px;
  }
  
  .contant-text h4 {
    font-size: 40px;
    text-align: center;
  }
  
  .contant-text p {
    font-size: 20px;
  }
  
  .read-more {
    background-color: #00aae8;
    color: white;
    padding: 10px 15px 10px 15px;
    border: none;
    margin-left: 300px;
  }
  
  .read-more:hover {
    transform: scale(1.1);
  }
  .client{
    margin-top:20px ;
  }
  .client h3{
    text-align: center;
    padding-top: 10px;
    color: #00aae8;
  }
  
  .clients {
    display: flex;
    align-items: center;
  }
  
  .clients img {
    padding-top: 30px;
    height: 200px;
    padding-left: 30px;
  }
  .benefits{
    background-image: url("images/Transformation.png");
    background-size: cover;
    background-attachment: fixed;
  }
  .benefits hr{
    color: white;
  }
  .benefits i{
    color: #00aae8;
    height:50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    padding-top: 20px;
    margin-left: 20px;
  }
  .benefits h4{
    color: white;
    text-align: center;
    margin-top: 100px;
    padding-top: 90px;
  }
  
  .benefit{
    display:flex;
    justify-content: space-evenly;
    color: white;
    padding-top: 50px;
  }
  .benefit2{
    display: flex;
    /* padding-left: 50px; */
    justify-content: space-evenly;
    color: white;
    margin-top: 150px;
    
  }
  
  .partner h3{
    text-align:center;
    /* margin-left:150px; */
    margin-top:30px;
    color:#00aae8;
  }
  .block{
    display:flex;
  }
  .block-img img{
    height:150px;
    width:200px;
    border-radius:10%;
    border:2px solid black;
    /* padding-left:20px; */
    margin-left:200px;
    margin-top:30px;
   
  }
  .block-img img:hover{
     box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
  
  footer {
    padding-top:30px;
    margin-top:30px;
    background-color: #00aae8;
  }
  
  #footer {
    /* height: 200px; */
    background-color: #00aae8;
  }
  .container1{
    display: flex;
    justify-content: space-evenly;
  }
  .container1 a {
    color: white;
    text-decoration: none;
    display: flex;
    padding-top: 10px;
  }
  .map iframe{
    height: 250px;
    width: 250px;
    margin-right: 20px;
  }
  .map h4{
    color: white;
    text-align: center;
  }
  .container1 h3{
    color:white;
  }
  .info{
    margin-left: 20px;
  }
  .under-content{
    margin-left: 20px;
  }
  
  h3 {
    color: white;
  }
  
  .container2 {
    /* padding-top: 10px; */
    color: white;
    background-color: #333;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
  }
  
  .under-content {
    color: white;
  }